.BottomDrawer {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  transition: all 0.3s;
  overflow: hidden;
}

.opened {
  height: 100%;
  transform: translate(0, 0);
}

.noFull {
  transform: translate(0, 633px);
  overflow: hidden;
}

.closed {
  transform: translate(0, 100%);
}